SolutioProjetGEN/ClientSOAP/Web References/localhost/WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:1993/MesServicesWCF" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:1993/MesServicesWCF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:1993/MesServicesWCF/Imports">
      <xsd:import schemaLocation="http://localhost/MesServicesWCF/WSDL?xsd=xsd0" namespace="http://localhost:1993/MesServicesWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMesServices_m_service_InputMessage">
    <wsdl:part name="parameters" element="tns:m_service" />
  </wsdl:message>
  <wsdl:message name="IMesServices_m_service_OutputMessage">
    <wsdl:part name="parameters" element="tns:m_serviceResponse" />
  </wsdl:message>
  <wsdl:message name="IMesServices_authentification_InputMessage">
    <wsdl:part name="parameters" element="tns:authentification" />
  </wsdl:message>
  <wsdl:message name="IMesServices_authentification_OutputMessage">
    <wsdl:part name="parameters" element="tns:authentificationResponse" />
  </wsdl:message>
  <wsdl:portType name="IMesServices">
    <wsdl:operation name="m_service">
      <wsdl:input wsaw:Action="http://localhost:1993/MesServicesWCF/IMesServices/m_service" message="tns:IMesServices_m_service_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:1993/MesServicesWCF/IMesServices/m_serviceResponse" message="tns:IMesServices_m_service_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="authentification">
      <wsdl:input wsaw:Action="http://localhost:1993/MesServicesWCF/IMesServices/authentification" message="tns:IMesServices_authentification_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:1993/MesServicesWCF/IMesServices/authentificationResponse" message="tns:IMesServices_authentification_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>